.character-list {
    padding-top: 0.5rem;
    overflow: auto;
    max-height: 70vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @include for-mobile-layout {
        max-height: 50vh;
    }

    &.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        span.gender::before{
            content: "Gender :";
        }

    }
    .character-list-head {
        border-bottom: 1px solid lightgray;
        padding: 1rem;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 10px;
        @include for-mobile-layout {
            padding: 0.5rem;
            grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr;
        }
        span {
            text-transform: capitalize;
            font-weight: 600;
            @include for-mobile-layout {
                font-size: 0.6rem;
            }
        }

        //-----CARDS VIEW-----
        //for cards
        display: none;
    }
}

// scroll-bar:
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    @include for-mobile-layout {
        width: 5px;
        height: 5px;
    }
    // margin-left: 20px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 48px;
    &:active {
        background: #c4c4c4;
    }
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 43px;
    &:hover {
        background: lighten(#666666, 30);
    }
    &:active {
        background: #333333;
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}
