.character-preview {
    border-bottom:  1px solid lightgray;
    padding: 1rem;
    gap: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding-inline-end: 0;
    &:hover {
        background-color: #00000024;
    }
    & > *:not(:first-child){
        flex-basis: 20%;
    }

    .character-img {
        img {
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}
