.character-list {
    padding-top: 0.5rem;
    .character-list-head {
        border-bottom:  1px solid lightgray;
        padding-inline-start: 3rem;
        padding-bottom: 1rem;
        & > * {
            flex-basis: 20%;
        }
        span{
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
}
